@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  @apply dark:bg-darkBlue;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  color: inherit;
}

* {
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
  margin: 0;
  padding: 0;
  @apply dark:text-white text-darkBlue;
}
